{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "extends": "jameslnewell/react",
  "rules": {
    "import/no-named-as-default": 0
  }
}
