{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "mocha": true
  },
  "rules": {
    "import/no-unresolved": 0, //unable to resolve path in parent node_modules
    "import/no-duplicates": 0 //'null' imported multiple times???
  },
  "extends": "jameslnewell/react"
}
